<%- include('./partials/_head'); %>

<body>
	<nav>
		<h1><%= user.name %>'s Account</h1>
		<a href="/logout" class="btn btn-danger" role="button">Logout</a>
	</nav>
	<hr />
	<main>
		<h1>Account balance</h1>
		<p>$<%= user.balance %></p>
	</main>
</body>
